body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#orientation-container, #message, #home {
  align-self: center;
}

#gameboard-container {
  display: flex;
  gap: 16px;
}

.gameboard {
  width: 90%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.grid {
  border: 1px solid black;
}

.hover-place, .hover-attack, .occupied.hidden.hover-attack {
  background-color: rgb(169, 168, 168);
}

.occupied {
  background-color: rgb(87, 85, 85);
}

.hover-place.occupied {
  background-color: rgb(28, 28, 28);
}

.outside-grid {
  background-color: red;
}

.hit, .hover-attack.hit {
  background-color: blue;
}

.occupied.hidden {
  display:block;
  background-color:white;
}

.occupied.hit {
  background-color: red;
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}